.labelTitle{
    font-size: xx-large;
    margin-bottom: 20px;
}

.inputTotal{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputTotalBox{
    margin-top: 20px;
    width: 300px;
    height: 60px;
    padding-left: 15px ;
    font-size: large;
    border-radius: 10px;
}

.button{
    margin-top: 20px;
    height: 60px;
    width: 120px;
    background-color: orange;
    font-size: x-large;
    border-radius: 10px;
    border: 0px;
}

.button:hover{
    cursor: pointer;
}
